<div class="dashboard_main">
  <div class="dashboard_first">
    <img src="../../assets/images/peepaltech.jpg" height="50px" width="50px">
    <span style="float:right!important;">
      <i class="material-icons">person</i>
      <i class="material-icons">payment</i>
      <i class="material-icons">notifications</i>
      <i class="material-icons">menu</i>
    </span>
  </div>
  <div class="dashboard_second">
    <img src="../../assets/images/peepaltech.jpg" height="50px" width="50px">
    <span>Name Here
    </span>
    <span class="spanchild">
      <i class="material-icons">search</i>
      <i class="material-icons">menu</i>
    </span>
  </div>
</div>
<div class="second_main">
  <div class="second_main_firstchild"> 
      <i class="material-icons">filter_list</i>
  </div>
  <div class="second_main_secondchild">

  </div>
</div>